<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leyifu.weiliaodemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http://www.hello.com/myapp" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RongCouldAcitivity" />

        <!-- 聊天界面 -->
        <activity android:name=".activity.ConversationActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.leyifu.weiliaodemo"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <!-- 会话列表 -->
        <activity
            android:name=".activity.ConversationListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.leyifu.weiliaodemo"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <!-- 聚合会话列表 -->
        <activity
            android:name=".activity.SubConversationListActivtiy"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.leyifu.weiliaodemo"
                    android:pathPrefix="/subconversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="9e2527d574dff41bff95721f073ef732" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.leyifu.weiliaodemo"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>

        <activity android:name=".activity.MIUIAnimationActivity" />
        <activity android:name=".activity.ScrollViewActivity" />
        <activity android:name=".activity.RecycleViewActivity" />
        <activity android:name=".activity.RecycleGridViewActivity" />
        <activity android:name=".activity.HttpActivity" />
        <activity android:name=".activity.OKHttpActivity" />
        <activity android:name=".activity.ConstrainLayoutActivity" />
        <activity android:name=".activity.ImmersiveActivity" />
        <activity android:name=".activity.ViewActivity" />
        <activity android:name=".activity.RecyclerViewCard" />
        <activity android:name=".activity.RecyclerAndRecyclerViewActivity" />
        <activity android:name=".activity.SelectorAddressActivity" />
        <activity android:name=".activity.TabLayoutActivity" />
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.WebViewActivity01" />
        <activity android:name=".activity.BezierActivity" />
        <activity android:name=".activity.RippleActivity" />
        <activity android:name=".activity.DrawArcActivity" />
        <activity android:name=".activity.RxJavaActivity" />
        <activity android:name=".activity.RetrofitRxJavaActivity" />
        <activity android:name=".activity.VideosPlayActivity" />
        <activity android:name=".activity.ViewCanvasActivity" />
        <activity android:name=".activity.ViewCanvasTextActivity" />
        <activity android:name=".activity.ViewCanvasClipActivity"></activity>
    </application>

</manifest>